<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!-- your html body here -->
<div layout:fragment="content">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">디바이스 관리</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-secondary" style="width: 50%; float: left">디바이스 조회</h6>
                <!--<button class="btn btn-dark" type="button" style="float: right; margin-left: 1rem" data-toggle="modal" data-target="#deleteModal">
                    선택 디바이스 삭제
                </button>-->
                <button class="btn btn-primary" type="button" style="float: right" data-toggle="modal" data-target="#registerModal">
                    신규 디바이스 등록
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" >
                        <thead>
                        <tr>
                          <!--  <th><input type="checkbox"></th>-->
                            <th>Device ID</th>
                            <th>Name</th>
                            <th>Register Date</th>
                            <th>Register Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-toggle="modal" data-target="#updateModal" th:each="list: ${deviceList}">
                           <!-- <th><input type="checkbox"></th>-->
                            <td th:text="${list.getDeviceId()}"></td>
                            <td th:text="${list.getName()}"></td>
                            <td th:text="${list.getRegisteredDt()}"></td>
                            <td th:text="${list.getRegisterStatus()}">1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="modal(id)" class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">디바이스 등록</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="deviceName" style="margin-right: 5px; min-width: 6rem;"> 디바이스이름</label>
                        <input type="text" id="deviceName" class="form-control form-control-sm" placeholder="아이폰13">
                    </div>
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="deviceId" style="margin-right: 5px; min-width: 6rem;"> 디바이스ID </label>
                        <input type="text" id="deviceId" class="form-control form-control-sm" placeholder="iphone13_1">

                    </div>
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="registerStatus" style="margin-right: 5px; min-width: 6rem;"> 등록상태 </label>
                        <input type="text" id="registerStatus" class="form-control form-control-sm" placeholder="0">
                    </div>
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="registeredDt" style="margin-right: 5px; min-width: 6rem;"> 등록일자 </label>
                        <input type="text" id="registeredDt" class="form-control form-control-sm" placeholder="2021.12.14">
                    </div>
                    <!--


                   <div class="input-group" style="margin-bottom: 7px">
                       <label for="devicePwd" style="margin-right: 5px; min-width: 6rem;"> 비밀번호 </label>
                       <input type="registeredDt" id="devicePwd" class="form-control form-control-sm">
                   </div>
                   <div class="input-group" style="margin-bottom: 7px">
                       <label for="checkPwd" style="margin-right: 5px; min-width: 6rem;"> 비밀번호 확인 </label>
                       <input type="registeredDt" id="checkPwd" class="form-control form-control-sm">
                   </div> -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <a class="btn btn-primary" onclick="deviceRegister()" data-dismiss="modal">등록</a>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="modal(id)" class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">디바이스상세</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="deviceName" style="margin-right: 5px; min-width: 6rem;"> 디바이스이름 </label>
                        <input type="text" id="uDeviceName" class="form-control form-control-sm" placeholder="최아무개">
                    </div>
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="deviceId" style="margin-right: 5px; min-width: 6rem;"> 디바이스ID </label>
                        <input type="text" id="uDeviceId" class="form-control form-control-sm" placeholder="choi11" readonly>
                    </div>
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="registerStatus" style="margin-right: 5px; min-width: 6rem;"> 등록상태 </label>
                        <input type="text" id="uRegisterStatus" class="form-control form-control-sm" placeholder="testuser003">
                    </div>
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="registeredDt" style="margin-right: 5px; min-width: 6rem;"> 등록일자 </label>
                        <input type="text" id="uRegisteredDt" class="form-control form-control-sm" placeholder="2021.12.25">
                    </div>

                    <!--
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="devicePwd" style="margin-right: 5px; min-width: 6rem;"> 비밀번호 </label>
                        <input type="registeredDt" id="uDevicePwd" class="form-control form-control-sm">
                    </div>
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="checkPwd" style="margin-right: 5px; min-width: 6rem;"> 비밀번호 확인 </label>
                        <input type="registeredDt" id="uCheckPwd" class="form-control form-control-sm">
                    </div>
                    -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <a class="btn btn-primary" onclick="deviceUpdate()" data-dismiss="modal">수정</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">삭제</a>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="modal(id)" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
         aria-hidden="true" style="z-index: 1070;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">디바이스 삭제</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">디바이스을 삭제하시겠습니까?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <a class="btn btn-danger" data-dismiss="modal" onclick="deviceDelete()">삭제</a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <!-- your scripts here -->
    <script>
        $(document).ready(function() {

           var table =  $('#dataTable').DataTable( {} );

            $('#dataTable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                $('#uDeviceName').val(data[1]);
                $('#uDeviceId').val(data[0]);
                $('#uRegisterStatus').val(data[3]);
                $('#uRegisteredDt').val(data[2]);

            });
        });
        $(document).on('show.bs.modal', '#deleteModal', function (e) {
            setTimeout(function(){
                $('.modal-backdrop').css('z-index', 1060);
                $('.modal-backdrop').css('opacity', 0.25);
            }, 0);
        });
        $(document).on('hide.bs.modal', '#deleteModal', function (e) {
            setTimeout(function(){
                $('.modal-backdrop').css('z-index', 1040);
                $('.modal-backdrop').css('opacity', 0.5);
            }, 0);
        });

        function deviceRegister() {
            var deviceDto = {
                name: $('#deviceName').val(),
                deviceId: $('#deviceId').val(),
                registeredDt: $('#registeredDt').val(),
                registerStatus: $('#registerStatus').val()
            }

            $.ajax({
                type: "post",
                url: "/api/devices",
                data: JSON.stringify(deviceDto),
                dataType: "json",
                contentType: "application/json; charset:UTF-8",
                success: function(response){
                    alert("디바이스 등록이 완료되었습니다.");
                    location.reload();
                },
                error: function(err){
                    alert("디바이스 등록이 정상적으로 수행되지 않았습니다.");
                    location.reload();
                }
            })
        }
        function deviceUpdate() {
            var deviceDto = {
                name:  $('#uDeviceName').val(),
                deviceId: $('#uDeviceId').val(),
                registeredDt: $('#uRegisteredDt').val(),
                registerStatus: $('#uRegisterStatus').val()
            }

            $.ajax({
                type: "put",
                url: "/api/devices",
                data: JSON.stringify(deviceDto),
                dataType: "json",
                contentType: "application/json; charset:UTF-8",
                success: function(response){
                    alert("디바이스 정보 수정이 완료되었습니다.");
                    location.reload();
                },
                error: function(err){
                    alert("디바이스 정보 수정이 정상적으로 수행되지 않았습니다.");
                    location.reload();
                }
            })
        }
        function deviceDelete() {
            var deviceId = $('#uDeviceId').val()

            console.log(deviceId)

            $.ajax({
                type: "DELETE",
                dataType : 'text',
                url: "/api/devices/"+ deviceId,
                /*contentType: "application/json; charset:UTF-8",*/
                success: function(result){
                    alert("디바이스 삭제가 완료되었습니다.");
                    location.reload();
                },
                error: function(err){
                    alert("디바이스 삭제가 정상적으로 수행되지 않았습니다.");
                    location.reload();
                }
            })
            $("#updateModal").modal("hide");
        }
    </script>
</th:block>
</body>
</html>