<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
     <!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">청약 내역</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-secondary" style="width: 50%; float: left">청약 내역 조회</h6>
                <button class="btn btn-dark" type="button" style="float: right" data-toggle="modal" data-target="#registerModal">
                    신규 청약 등록
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" >
                        <thead>
                        <tr>
                            <th>청약 ID</th>
                            <th>고객 ID</th>
                            <th>고객 이름</th>
                            <th>청약 진행상태</th>
                            <th>요청 일자</th>
                            <th>디바이스 ID</th>
                            <th>직원 ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-toggle="modal" data-target="#updateModal" th:each="list: ${openingList}">
                            <!-- <th><input type="checkbox"></th>-->
                            <td th:text="${list.getOpeningId()}"></td>
                            <td th:text="${list.getCustomerId()}"></td>
                            <td > test </td>
                            <td th:text="${list.getStatus()}"></td>
                            <td th:text="${list.getRequestDt()}"></td>
                            <td th:text="${list.getDeviceId()}"></td>
                            <td th:text="${list.getStaffId()}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="modal(id)" class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">청약 등록</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="customerId" style="margin-right: 5px"> 고객ID</label>
                        <input type="text" id="customerId" class="form-control form-control-sm" placeholder="고객 ID를 입력해주세요.">

                    </div>
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="staffId" style="margin-right: 5px"> 직원ID</label>
                        <input type="text" id="staffId" class="form-control form-control-sm" placeholder="담당 직원 ID를 입력해주세요.">

                    </div>
                    <div class="input-group" style="margin-bottom: 7px">
                        <label for="deviceId" style="margin-right: 5px"> 디바이스ID</label>
                        <input type="text" id="deviceId" class="form-control form-control-sm" placeholder="디바이스 ID를 입력해주세요.">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <a class="btn btn-primary" onclick="openingRegister()" data-dismiss="modal">등록</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page level custom scripts -->
<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {
            var table =  $('#dataTable').DataTable( {} );

            // $('#dataTable tbody').on('click', 'tr', function () {
            //     var data = table.row(this).data();
            //     $('#uDeviceName').val(data[2]);
            //     $('#uDeviceId').val(data[1]);
            //     $('#uRegisterStatus').val(data[4]);
            //     $('#uRegisteredDt').val(data[3]);
            //
            // });
        });
        function openingRegister() {
            var openingDto = {
                customerId : $("#customerId").val(),
                deviceId :  $("#deviceId").val(),
                staffId :  $("#staffId").val()
            }

            $.ajax({
                type: "post",
                url: "/api/openings",
                data: JSON.stringify(openingDto),
                dataType: "json",
                contentType: "application/json; charset:UTF-8",
                success: function(response){
                    alert("청약 등록이 완료되었습니다.");
                    location.reload();
                },
                error: function(err){
                    alert("청약 등록이 정상적으로 수행되지 않았습니다.");
                    location.reload();
                }
            })
        }
    </script>
</th:block>
</body>

</html>